.App {
  text-align: center;
  text-align: center;
display: flex;
flex-direction: column;
align-items: center;
}
.btn1 
{
  width: 8rem;
}
.btn2
{
  width: 8rem;
  margin-top: 1rem;
}
.btn3
{
  width: 8rem;
  margin-top: 1rem;
}